rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow reads and writes to events, tags, and goals for any signed-in user.
    // For a real app, you would restrict this to the user who owns the data.
    match /{collection}/{docId} {
      allow read, write: if true;
    }
  }
}
