rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // For this example, we'll allow any authenticated user to read/write.
    // In a real production app, you'd want more granular rules,
    // for example, only allowing users to read/write their own data.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
